@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



:root {
    --p900: #0A196F;
    --p800: #102587;
    --p700: #1A37A7;
    --p600: #264BC8;
    --p500: #3563E9;
    --p400: #658DF1;
    --p300: #85A8F8;
    --p200: #AEC8FC;
    --p100: #D6E4FD;
    --p0: #ffffff;
    --su900: #3B6506;
    --su800: #4C7A0B;
    --su700: #659711;
    --su600: #7FB519;
    --su500: #9CD323;
    --su400: #BCE455;
    --su300: #D3F178;
    --su200: #D3F178;
    --su100: #E8FAA6;
    --e900: #7A0619;
    --e800: #930B16;
    --e700: #B71112;
    --e600: #DB2719;
    --e500: #FF4423;
    --e400: #FF7F59;
    --e300: #FFA37A;
    --e200: #FFC8A6;
    --e100: #FFE7D3;
    --w900: #7A4D0B;
    --w800: #936312;
    --w700: #B7821D;
    --w600: #DBA32A;
    --w500: #FFC73A;
    --w400: #FFD96B;
    --w300: #FFE488;
    --w200: #FFEFB0;
    --w100: #FFF8D7;
    --i900: #102E7A;
    --i800: #020202;
    --i700: #2A60B7;
    --i600: #3D81DB;
    --i500: #54A6FF;
    --i400: #7EC2FF;
    --i300: #98D3FF;
    --i200: #BAE5FF;
    --i100: #DCF3FF;
    --s900: #040815;
    --s800: #080C19;
    --s700: #0D121F;
    --s600: #131825;
    --s500: #1A202C;
    --s400: #596780;
    --s300: #90A3BF;
    --s200: #C3D4E9;
    --s100: #E0E9F4;

}



body {
    background-color: #F6F7F9;
    margin: 0;
    font-family: "Outfit", sans-serif;
}


/* navbar */

header {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    display: flex;

    align-items: center;
    margin-left: 20px;
}

.logo img {
    width: 150px;
    margin-right: 10px;
}

.search-bar {
    flex-grow: 1;
    margin: 10px 20px;
}

.search-bar input {
    width: 700px;
    padding: 12px;
    font-size: 16px;
    border-radius: 40px;
    border: 1px solid #c3d4e962;
}

.search-bar input::placeholder {
    color: #596780;
    font-weight: 400;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
}

.icons {
    display: flex;
    align-items: center;
    margin: 10px;
}

#max {
    font-size: 16px;
    color: var(--s400);
    font-weight: 500;
}

/* fim da navbar */


/* filters */

/* left */

.leftcontainer {
    flex: 1;
}



.container1 {
    background-color: var(--p0);
    width: 300px;
    height: 136rem;
    margin-top: -20px;
    margin-bottom: -3rem;
    padding: 10px 30px;


}


label {
    font-size: 18px;
    color: var(--s400);
    font-weight: 400;
}


.filters {
    width: 200px;
}

.filters h2 {
    font-size: 12px;
    color: var(--s300);
    font-weight: 400;
    margin-bottom: 20px;
}

.filter-option {
    margin-bottom: 20px;
}

.capacity {
    margin-top: 3rem;
}

.price {
    margin-top: 4rem;
}

#max {
    font-size: 16px;
    color: var(--s400);
    font-weight: 500;

}


/* fim da filters */



















main {
    display: flex;
}





/* right */



/* details */

.rightcontainer {
    justify-content: center;
    margin: 4rem;
    width: 65%;
}

.maior {
    background-image: url('img/d1maior.png');
    background-size: cover;
    background-position: center;
    width: 440px;
    height: 320px;
    padding: 10px 30px;
    margin-bottom: 24px;
    border-radius: 10px;
}

#h1banner {
    font-size: 32px;
    color: var(--p0);
    font-weight: 400;
    margin-bottom: 16px;
}

#pbanner {
    font-size: 16px;
    color: var(--p0);
    font-weight: 300;
}

.menores {

    align-items: center;
    justify-content: center;
    display: flex;
    gap: 24px;
}

.menores img:hover {
    width: 132px;
    height: 108px;
    border: 2px outset var(--p500);
    padding: 5px;
    box-sizing: border-box;
}


.menores img {
    width: 148px;
    height: 124px;
    border-radius: 10px;
}


.details {
    display: flex;
    gap: 56px;

}

.rightdetails {
    background-color: var(--p0);
    padding: 10px 40px;
    border-radius: 10px;
}

.line1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line1 img {
    margin-top: 10px;
}

#detailsh1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 8px
}

.line2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 220px;
    margin-top: -20px;
}

.line2 img {
    margin-right: 5px;
    width: auto;
    height: auto;
    max-width: 100%;
}

p {
    font-size: 14px;
    color: var(--s400);
    font-weight: 300
}

h2 {
    font-size: 20px;
    color: var(--s400);
    font-weight: 300;
    line-height: 35px;
}

.line4 {
    display: flex;
    gap: 3rem;
    align-items: center;
}

h3 {
    font-size: 20px;
    color: var(--s300);
    font-weight: 200;

}

h4 {
    font-size: 20px;
    color: var(--s400);
    font-weight: 400;

}

.line5 {
    display: flex;
    align-items: center;
}

#sub {
    font-size: 16px;
    color: var(--s300);
    font-weight: 400;
    margin-bottom: 2px;
    margin-right: 9rem;
}

#rent {
    padding: 10px 30px;
    background-color: var(--p500);
    border: none;
    border-radius: 4px;
    color: var(--p0);
    font-weight: 550;
    margin-top: 10px;
}

/* fim details */




/* reviews */

.reviews {
    margin-top: 3rem;
    background-color: var(--p0);
    padding: 20px 55px;
    margin-right: 11rem;
    border-radius: 10px;
    margin-bottom: 5rem;
}

.title {
    display: flex;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

#reviewh1 {
    font-size: 20px;
    font-weight: 500;
    margin-right: 1rem;
}

#notifications {
    background-color: var(--p500);
    padding: 5px 15px;
    align-items: center;
    color: var(--p0);
    font-weight: 500;
    border-radius: 4px;

}

.profile {
    margin-top: -80px;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

#profileimg {
    width: 56px;
    height: 56px;
}

.informations {
    margin-top: 3rem;
}

.infoline1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#name {
    font-size: 20px;
    font-weight: 600;
}


.infoline2 {
    margin-top: -18px;
    display: flex;
    align-items: center;

}


.infoline2 img {
    margin-top: -10px;


}

#cargo {
    margin-right: 42rem;
    font-size: 14px;
    color: var(--s300);
    font-weight: 300;
}

#description {
    font-size: 14px;
    line-height: 25px;
    margin-top: -5px;

}


.showall {
    display: flex;
    align-items: center;
    margin-left: 30rem;
}


.showall button {
    background-color: #ffffff00;
    border: none;
}


#showall {
    font-size: 16px;
    text-decoration: none;
    color: var(--s300);
    font-weight: 500;

}


label {
    font-size: 15px;
    color: var(--s300);
    font-weight: 400;
}


select {
    width: 25px;
    font-size: 15px;
    border: none;
}


/* fim reviews */



/* recent car */

.cartitle {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-left: 5px;
}


#recente {
    color: var(--s300);
    font-size: 16px;
    font-weight: 400;
}

#all {
    color: var(--p500);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;

}

#all a {
    color: var(--p500);
    text-decoration: none;
}


.cars {
    display: flex;
    margin-bottom: 2rem;
    margin-left: 5px;
    gap: 15px;

}

.card {
    background-color: var(--p0);
    width: 320px;
    height: 388px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 19px 7px rgba(0, 0, 0, 0.033);
    -webkit-box-shadow: 1px 1px 19px 7px rgba(0, 0, 0, 0.058);
    -moz-box-shadow: 1px 1px 19px 7px rgba(0, 0, 0, 0.086);

}


#namecar {
    margin-top: 1rem;
    font-size: 20px;
    color: var(--s500);
    margin-bottom: 5px;
}


#pcar {
    font-size: 14px;
    font-weight: 500;
    color: var(--s300);
}


.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 2rem;
}

.name img {
    margin-top: 1.5rem;
}


#category {
    font-size: 14px;
    font-weight: 500;
    color: var(--s300);
    margin-top: 0;
    margin-left: 1rem;
}

.imagem {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem img {
    width: 232px;
    max-height: 120px;
}

.three img {
    width: 24px;
}

.three {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.three img,
.three p {
    margin-right: 10px;
}

.three p {
    margin-top: 15px;
}




.buy {
    display: flex;
    justify-content: center;
}

.buy p {
    margin-right: 2rem;
    margin-top: 1.3rem;
    margin-left: 5px;
}


#buy {
    margin-top: 10px;
    padding: 0px 20px;
    height: 40px;
    background-color: var(--p500);
    color: var(--p0);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}


/* fim recent car */






/* Footer */


#pfooter {
    font-size: 15px;
    color: #13131374;
    font-weight: 500;
    margin-bottom: 20px;
    cursor: pointer;

}

#h1f {
    font-size: 18px;
    color: var(--s500);
    font-weight: 500;
    margin-bottom: 20px;
}

.high {
    display: flex;
    justify-content: space-between;
}

.low {
    display: flex;
    justify-content: space-between;
}

.low2 {
    display: flex;
    gap: 50px;
}

#h1l {
    cursor: pointer;
    font-size: 15px;
    color: var(--s500);
    font-weight: 500;
    margin-bottom: 20px;
}


footer {
    margin-top: 3rem;
    padding: 40px;
    background-color: var(--p0);

}

.leftfooter img {
    width: 148px;
}

.rightfooter {
    display: flex;
    gap: 80px;
    margin-right: 4rem;
}

#pfooter {
    font-size: 15px;
    color: #13131374;
    font-weight: 500;
    margin-bottom: 20px;
    cursor: pointer;

}

#h1f {
    font-size: 18px;
    color: var(--s500);
    font-weight: 500;
    margin-bottom: 20px;
}


@media screen and (max-width: 767px) {

    main {
        max-width: 90%;
        margin-left: 0;
        /* Remover a margem direita */
    }

    header {
        width: 100%;
    }

    .search-bar {
        order: 2;
        margin-top: 10px;
        margin-left: 10px;
    }


    .search-bar input {
        width: 100%;
        max-width: 300px;
    }

    .logo {
        order: 1;
        flex-basis: 100%;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .icons {
        display: none;
    }

    .leftcontainer {
        display: none;
    }



    .details {
        flex-direction: column;
        align-items: center;
    }

    .leftdetails,
    .rightdetails {
        margin-left: 2.2rem;

    }




    .reviews {
        flex-direction: column;
        align-items: center;
    }





    .maior {
        width: 290px;
        height: 232px;
    }

    #h1banner {
        width: 17rem;
        font-size: 20px;

    }

    #pbanner {
        margin-top: -8px;
        font-size: 14px;
    }

    #h1banner br {
        display: none;
    }

    .menores img {
        width: 96px;
        height: 64px;
    }

    .menores img:hover {
        width: 88px;
        height: 56px;
    }


    .rightdetails {
        margin-top: -1rem;
        padding: 30px 40px;
    }

    .detailsh1 {
        font-size: 20px;
    }


    p {

        font-size: 12px;
    }


    h2 {
        font-size: 12px;
        line-height: 15px;
    }

    h2 br {
        display: none;
    }

    .line4 {
        gap: 1.2rem;
    }


    h3 {
        font-size: 12px;
    }

    h4 {
        font-size: 12px;
    }


    #detailsh1 {
        margin-bottom: 1rem;
        font-size: 20px;
    }

    #sub {
        font-size: 12px;
        margin-right: 1rem;
    }

    #rent {
        font-size: 16px;
        width: 9rem;
        padding: 20px 20px;
    }


    .reviews {
        width: 327px;
        height: 384px;
        margin-left: -2.7rem;
        padding: 10px;
    }

    #profileimg {
        margin-left: 1rem;
        width: 44px;
        height: 44px;
    }


    .profile {
        width: 18rem;
    }

    .infoline1 {
        width: 14rem;
    }

    #name {
        font-size: 16px;
    }

    #date {
        font-size: 12px;
    }


    .infoline2 img {
        width: 10.05px;
        height: 9.58px;
    }

    .infoline2 {
        width: 17rem;

    }

    #cargo {
        font-size: 12px;
        margin-right: 5rem;
    }


    #description {
        font-size: 12px;
        width: 15.5rem;
        margin-top: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        /* Certifique-se de definir uma largura máxima */
    }


    .showall {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cartitle{
        justify-content: left;
        gap: 2rem;
        margin-left: 10px;
        
    }


    .car {
        margin-left: -2.8rem;
        display: block; 
    }

    .catalog {
        display: block; 
    }

    .cars {
        flex-direction: column; 
    }

    .card {
        margin-bottom: 20px; 
    }







    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Centraliza o conteúdo na vertical */
        text-align: center;
        /* Centraliza o texto */
    }

    .high {
        display: flex;
        flex-direction: column;
        /* Coloca os elementos em coluna */
        align-items: center;
        /* Centraliza os elementos */
    }

    .rightfooter {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        margin-left: 3rem;
        margin-bottom: 2rem;
    }

    .left img {
        margin-bottom: 10px;
        /* Adiciona espaço abaixo do logo */
    }


    .showall {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }




}